<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    
</head>
<body>
	<nav class="top-bar">
		<ul class="title-area">
		<!-- Title Area -->
		<li class="name">
		<h1>
		<a href="192.168.11.68:3000">DemoBlog</a>
		</h1>
		</li>
		<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
		<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
		</ul>
	<section class="top-bar-section">
		<ul class="right">
			<li class="divider hide-for-small"></li>
			<li>
				<a href="https://github.com/Manmohan-menon/DemoBlog">Github</a>
			</li>
			<li class="divider hide-for-small"></li>
			<li>
			<a href="https://twitter.com/">Twitter</a>
			</li>
			<li class="divider hide-for-small"></li>
			<li>
			<a href="/about.html">about</a>
			</li>
		</ul>
	</section>
	</nav>
	<h2>About</h2>
	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
	<footer>
		<p>
		Powered by: rails n zurb foundation
		Developed at: Coder X
		</p>
	</footer>

</body>
</html>